body{
	width: 100%;
	/* height: 100%; */
	text-align: center;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

header{
	background-color: red;
	flex-basis: 100%;
	/* height: 55%; */
}

/* .left,
.right,
section{
	height: 50%;
} */

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.left{
	flex-grow: 1;
	background-color: green;
}

.reight{
	flex-grow: 1;
	background-color: pink;
}

section{
	flex-basis: 60%;
	background-color: aqua;
	font-size: 22px;
}

footer{
	flex-basis: 100%;
	/* height: 25%; */
	background-color: purple;
}

@media screen and (max-width:992px){
	.left{
		flex-grow: 0;
		flex-basis: 100%;
		order: 2;
		height: 30vh;
		/* height: 30%; */
	} 
	section{
		flex-grow: 1;
	}
}

@media screen and (max-width:768px){
	.left{
		flex-grow: 0;
		flex-basis: 100%;
		order: 2;
		height: 30vh;
	} 
	.reight{
		flex-grow: 0;
		flex-basis: 100%;
		order: 3;
		height: 30vh;
	}
	section{
		flex-grow: 0;
		flex-basis: 100%;
	}
}